.Container{
    height: 800px;
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    /* align-items: center; */
    padding-left: 19px;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.Header_container{
    display: flex;
    justify-content: space-between;
    flex:1;
}
.Avatar_container{
    display: flex;
}
.More{
    padding-right: 20px;
}